* {
    border-radius: 0px !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.flyover .activity.comment {
    border-bottom: 1px solid #BBB !important;
}

.flyover, .flyover section.activity ol > li {
    background: #EEE !important;
}

.iteration .preview {
    background: #989fa7 !important;
}

.panel .container {
    border: none !important;
}

#maximizes_show {
    top: 95px !important;
}

.window section.panels {
    top: 99px !important;
}

.person_controls {
    margin-top: 0px !important;
}

.state.button:after, a.state.button:after {
    content: none !important;
}

.story .edit, .end_of_list, .accepted_stories_bar.done_bar label {
    background-image: none !important;
}

.story .preview {
    border-top: none !important;
    padding-bottom: 1px !important;
    padding-top: 3px !important;
}

header .project.tabs {
    display: none !important;
}

header.project {
    height: 91px !important;
}

header.project h1 {
    background-size: 15% auto !important;
    height: 23px !important;
}

section.panels .table {
    padding-bottom: 0px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}